@media(max-width: 1980px){
  .headline {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
  }
  .logo {
    position: absolute;
    height: 24px;
    text-align: center;
    margin-top: -24px;
  }
  .hlogo1 {
    position: absolute;
    height: 38px;
    bottom: -25px;
    margin-left: 617px;
  }
  .hlogo2 {
    position: absolute;
    height: 38px;
    bottom: -25px;
    margin-left: 670px;
  }
}

@media(max-width: 992px){

}
  
  @media(max-width: 768px){
    .headline {
      position: relative;
      display: flex;
      align-items: center;
      height: 2.2rem;
      padding: 1.4rem 1.7rem 0 1.6rem;
      z-index: 2;
    }
    .logo {
      position: absolute;
      width: 80px;
      height: 24px;
      left: 30px;
      top: 29px;
    }
.hlogo1 {
  position: absolute;
  height: 38px;
  bottom: -25px;
  margin-left: 617px;
}
    .hlogo2 {
  position: absolute;
  height: 24px;
  bottom: -19px;
  margin-left: -40px;
}
  }
  
  @media(max-width: 500px){
    .headline {
      position: relative;
      display: flex;
      align-items: center;
      height: 35px;
      margin-left: 17px;
      margin-right: 17px;
      margin-top: -4px;
    }
    .logo {
      position: absolute;
      height: 24px;
      text-align: center;
      margin-top: -2px;
    }
    .hlogo1 {
      position: absolute;
      height: 30px;
      bottom: -21px;
      margin-left: -104px;
    }
    .hlogo2 {
      position: absolute;
      height: 30px;
      bottom: -21px;
      margin-left: -62px;
    }
  }