html {
  height: 100%;
  background-color: #0c0e11;
}
body{
    height: 100%;
}
.header {
  width: 1920px;
  height: 50px;
  background-color: #0e1217;
  margin-left: -8px;
  margin-top: -56px;
  position: fixed;
}
.logo {
position: absolute;
width: 100px;
height: 24px;
left: 223px;
top: 13px;
}
.mpage {
  margin-left: 430px;
  margin-top: 53px;
}
.mtext {
  position: absolute;
  width: 814px;
  height: 77px;
  left: 553px;
  top: 122px;
  font-family: 'Onest Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}
.img1{
position: absolute;
width: 457px;
height: 349px;
left: 223px;
top: 346px;
border-radius: 20px;
}
.izvestn{
  
}
