html {
  height: 100%;
  background-color: #0c0e11;
}
body{
    height: 100%;
}
.header {
  width: 1920px;
  height: 50px;
  background-color: #121822;
  margin-left: -8px;
  margin-top: -9px;
}
.logo {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 223px;
  top: 11px;
}
.mpage {
  margin-left: 430px;
  margin-top: 53px;
}
.mtext {
position: absolute;
width: 814px;
height: 77px;
left: 553px;
top: 117px;
font-family: 'Onest Bold';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 77px;
text-align: center;
color: #FFFFFF;
}
.img1 {
position: absolute;
width: 338px;
height: 259px;
left: 223px;
top: 304px;
border-radius: 19px;
}
.izvestn {
position: absolute;
width: 226px;
height: 41px;
left: 236px;
top: 235px;
font-family: 'Onest Bold';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 57px;
color: #FFFFFF;
}
.img2 {
position: absolute;
width: 266px;
height: 259px;
left: 223px;
top: 589px;
border-radius: 19px;
}
.img3 {
position: absolute;
width: 266px;
height: 259px;
left: 589px;
top: 304px;
border-radius: 19px;
}
.izv {
  top: 24px;
  position: fixed;
}
.img4 {
position: absolute;
width: 338px;
height: 259px;
left: 517px;
top: 589px;
border-radius: 19px;
}
.city {
  position: absolute;
  width: 92px;
  left: 1782px;
  top: -13px;
  font-family: 'Onest Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #FFF;
}
