.header{
    width: 1920px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.040);
    }
.logo{
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    }

.mpage{
    margin-left: 300px;
    margin-top: 50px;
    }

.m-img{
    width: 700px;
}

.top-10{
    font-family: 'Onest Extra Bold';
    margin-left: 30px;
    width: 700px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 100px;
  }
.top1{
    font-family: 'Onest Medium';
    margin-top: 40px;
    margin-left: 30px;
}